.aboutMe {
    display: flex;
    flex-direction: row;
    background-color: #023047;
    position:sticky;
    top: 0;
    z-index: -1;
}

.mainStuf{
    z-index: 1;
    position:relative;
}

body{
    z-index: -2;
    position: relative;
}


.iss{
    color: whitesmoke;
    text-align: center;
    background-image: linear-gradient(black, skyblue);
    width:15%;
}

.nasaBut{
    border:none;
    border-bottom: 3px solid whitesmoke;
    background:none;
    font-family: "Libre Baskerville", serif;
    color: whitesmoke;
}

.nasaBut:hover{
    border-bottom:3px solid #FB8500;
    color:#FFB703;
}

.issImg{
    height: 50px;
    width: auto;
    padding-top: 20px;
    transform: rotate(25deg)
    
}

.abText{
    width: 50%;
    text-align: justify;
    padding-left: 25px;
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.aboutBody{
    line-height: 35px;
}

.bold{
    font-size: 40px;
    text-transform: capitalize;
}

.D{
    color: #FB8500
}

.I{
    color: #FFB703
}

.abIamge{
    width: 40%;
}

.portImag{
    float: right;
}

.skills{
    display:flex;
    flex-direction: row;
    background-color: #092B34;
}

.dev{
    text-align: left;
    padding-left: 25px;
    padding-right: 15px;
}

.its{
    text-align: left;
    padding-left: 25px;
    padding-right: 15px;
}

.skillsFormat{
    font-family: "Libre Baskerville", serif;
    color: aliceblue;
    font-size: 20px;
    line-height: 40px;
}

.devT{
 color:#FB8500;
}

.itsT{
 color: #FFB703;
}

.bot{
    color:aliceblue;
    display: flex;
    flex-direction:row;
    background-color: #000000;
    padding: 15px;
}

.imLink{
    height:50px;
    width: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 13px;
}

.images{
    width: 73%;
}

.email{
    font-family: "Libre Baskerville", serif;
    color: aliceblue;
    font-size: 20px;
    line-height: 40px;
    width:25%
}


body{
    margin: 0;
    padding: 0;
    top: 0;
}
